@font-face {
    font-family: "varela round";
    src: url(../fonts/Varela_Round/VarelaRound-Regular.ttf) format("truetype")
}
@font-face {
    font-family: "open sans";
    src: url(../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf) format("truetype")
}